/* html{
    ME CAMBIA EL TAMAÑO DE LAS LETRAS Y SE DESBORDAN UN POCO LOS ELEMENTOS
    font-size: 80%;
} */

.main-table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    overflow-x: hidden;
}

/* .main-table-container .main-table-container--grid {
    width: 300px;
} */

.product-cards--container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.product-cards--container .product-detail--card {
    margin-bottom: 0;
}

.plans-container--slider {
    justify-content: center;
    /* Elimina la _barra de scroll_ que se genera por el scroll implementado en M-F*/
    overflow-x: hidden;
}