:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black:#282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: 270px;
    /* Lo coloca en el centro, considera los pixeles del contenedor padre: header */
    /* Tambien hubiera funcionado con top: top: calc(100% - 24px); */
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    align-self: center;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 320px;
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* INICIO DE LA SECCION DE LA TABLA HECHA CON GRID */

.main-table-container--title {
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.main-table-container h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    padding-bottom: 5px;
    color: var(--bitcoin-orange);
}

.main-table-container {
    width: 70%;
    min-width: 320px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-table-container .main-table-container--grid {
    width: 60%;
    max-width: 250px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: auto;
    grid-template-areas: 
    "bitcoin dolar1"
    "ethereum dolar2"
    "ripple dolar3"
    "stellar dolar4";
    justify-content: center;
    align-items: center;
}

.main-table-container--grid {
    background-color: var(--just-white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.itemA {
    grid-area: bitcoin;
    padding: 0;
    margin: 0;
}

.itemB {
    grid-area: ethereum;
}

.itemC {
    grid-area: ripple;
}

.itemD {
    grid-area: stellar;
}

.item1 {
    grid-area: dolar1;
}

.item2 {
    grid-area: dolar2;
}

.item3 {
    grid-area: dolar3;
}

.item4 {
    grid-area: dolar4;
}

.main-table-container--grid div p {
    margin-bottom: 10px;
    text-align: start;
    font-weight: 500;
    line-height: 1.9rem;
    color: gray;
}

section div div .dollar {
    text-align: end;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.main-table-container--grid div:nth-child(odd) span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background: url('./assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.main-table-container--grid div:nth-child(even) span {
    display: inline-block;
    width: 13px;
    height: 10px;
    margin-left: 10px;
    background: url('./assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.main-table-container--date {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.main-table-container--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

/* FIN DE LA SECCION DE LA TABLA */

.main-product-detail {
    position: relative;
    width: 100%;
    /* No hay celulares mas chico de 320px */
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    font-family: "DM Sans", sans-serif;
    background-color: var(--warm-black);
    text-align: center;
}

.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.product-detail--title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #808080;;
}

.product-cards--container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.product-cards--container .product-detail--card {
    background-color: #282623;
    border-radius: 3px;
    margin-bottom: 20px;
    text-align: start;
    padding: 13px;
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.clock {
    background-image: url('./assets/icons/clock.svg');
}

.eye {
    background-image: url('./assets/icons/eye.svg');
}

.dollar-sign {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.check-circle {
    background-image: url('./assets/icons/check-circle.svg');
}

.product-detail--card .product--card-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--just-white);
}

.product-detail--card .product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 75px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    margin-bottom: 10px;
}

.plans--title p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    /* Es una regla para que se pueda tener una animacion en el scroll */
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 245px;
    margin: 50px 5px 0;
    padding: 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    width: 120px;
    height: 30px;
    padding: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 7px;
}

.plan-info-container .plan-card--title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 15px;
}

.plan-info-container .plan-card--price {
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
}

.plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.plan-info-container .plan-card--saving {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 10px auto; 
    text-align: center;
    color: #757575;
}

.plan-info-container .plan-card--ca {
    width: 90%;
    height: 48px;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    background-color:#FAF8F7;
    border: 2px solid #F7931A;
}

.plan-card--ca span {
    /* inline-block es para poder ver el icono */
    display: inline-block; 
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 130px;
    padding: 10px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container--social-networks p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--off-white);
}

.container--mark {
    text-align: center;
}

.container--mark span {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('./assets/icons/batata.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container--mark p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #FFE9D5;
}